@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h4 {
    font-size: 2rem;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.nav-center ul li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    border: 2px solid rgb(9, 30, 30);
    border-radius: 10px;
    margin-left: 50px;
    padding: 5px;
    width: 100px;
    text-align: center;
    background-color: bisque;
}

.nav-center ul li:hover {
    cursor: pointer;
    background-color: beige;
    font-weight: bold;
}

.nav-center ul li a {
    text-decoration: none;
    color: rgb(11, 11, 104);
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.container h2 {
    font-size: 2em;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px;
}

.button {
    margin: 16px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
    width: 100px;
    font-size: 1em;
    background-color: aquamarine;
    font-weight: 700;
    transition: all 0.2s ease-in;
}

.button:hover {
    cursor: pointer;
    background-color: antiquewhite;
}